/* Fonts */
@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/brandon-grotesque/Brandon-Regular.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 400;
	font-style: italic;
	src: url('../public/fonts/brandon-grotesque/Brandon-Italic.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 800;
	font-style: normal;
	src: url('../public/fonts/brandon-grotesque/Brandon-Black.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 800;
	font-style: italic;
	src: url('../public/fonts/brandon-grotesque/Brandon-BlackItalic.otf');
	font-display: swap;
}

/* Lakeshore Font */

@font-face {
	font-family: 'Lakeshore';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/lakeshore/lakeshore-regular.ttf');
	font-display: swap;
}

/* HTML and Body Styling */

html,
body {
	--type-color-base: white;
	--background-color-base: #22295E;
	--hot-dude-hot-pink: #FD54FB;
	--hot-dude-fusia: #F94588;
}

/* Base styles */

html,
body {
	font-family: 'Brandon Grotesque', 'Arial', 'sans-serif';
	font-weight: 400;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	color: var(--type-color-base);
	background-color: var(--background-color-base);
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

/* Nav Bar */
.main-header{
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  height: 4rem;
}

.main-header > h1 {
  font-size:1.5rem;
}

.header-nav{
  margin-left: auto;
  margin-right: 1rem;
}

.header-nav > ul {
  list-style-type: none;
}

.list-item{
  padding: 1rem;
  display:  inline;
  /*
  border-radius: 25px;
  */
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: .5em;
}
.list-item:hover{
  color: #F94588;
  cursor: pointer;
}

/* Header Styling */
.head-text{
  font-family: 'Brandon Grotesque';
  text-transform: uppercase;
  letter-spacing: 0.24rem;
}

.h1{
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.social-header{
  margin-bottom: 0px
}
